streamlit==1.41.0
streamlit-chat
pandas
numpy
boto3
langchain_aws
langchain
langchain_community
langgraph
langchain_experimental
beautifulsoup4==4.12.3
pytz==2024.2
tavily-python==0.5.0
yfinance==0.2.52
rizaio==0.8.0
plotly_express==0.4.1
matplotlib==3.10.0
PyPDF2==3.0.1
mcp
langchain-mcp-adapters
opensearch-py
langgraph-supervisor
langgraph-swarm
aioboto3
uv
kaleido
requests
wikipedia
sarif-om